* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    background-image: url(../img/DALL·E\ 2024-11-21\ 11.08.00\ -\ A\ feminine\ and\ minimalistic\ background\ design\ for\ a\ recipe\ website\ with\ tones\ of\ lime\ green\ and\ soft\ orange.\ The\ design\ should\ include\ subtle\ floral\ a.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eaf9d9a0;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.cajaLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 100px;
    width: auto;
}

.buscador {
    display: flex;
    align-items: center;
    margin: 8px;
    max-width: 400px;
    margin: 0 20px;
    font-family: 'Lora', serif;
}

.buscador input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #A8D77D;
    border-radius: 4px 0 0 4px; 
    outline: none;
    background-color: #F8FFEF;
}

.buscador button {
    height: 40px;
    background-color: #8CCB5E;
    border: none;
    color: #FFFFFF;
    padding: 0 20px;
    border-radius: 0 4px 4px 0; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

.navegador {
    display: flex;
    margin: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal
}

.elementoNav {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #8CCB5E;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 15px;
}

.cajaPadreRecetas article {
    width: 17%;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #8CCB5E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #eaf9d9a0;
}

.cajaPadreRecetas a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #F4A261;
    padding: 8px 16px;
    background-color: #FFF5E3;
    border: 1px solid #F4A261;
    border-radius: 5px;
}

.cajaPadreRecetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 8px;
    background-color: #a8d77d86;
    padding: 10px;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal
}

.titulo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #537A5A;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    font-family: 'Playfair Display', serif;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.cajaBoton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.botonCargar {
    background-color: #F4A261;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    justify-self: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.pie {
    background-color: #537A5A;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.nombres {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.cajaPadreRecetas article h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    color: #537A5A;
    margin-bottom: 10px;
    
}

.cajaPadreRecetas article a {
    text-decoration: none;
}

.cajaPadreRecetas article p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 1.5;
}
 
/* receta */

body {
    background-color: #eaf9d996;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px;
    color: black;
    line-height: 1.6;
}

.nombreReceta {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
    color: #537A5A;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.instrucciones {
    font-size: 18px;
    color:black;
    background-color: #f8ffef81;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.coccion {
    font-size: 16px;
    color: #F4A261;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.cajaImagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenReceta {
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.categoriasS {
    font-size: 16px;
    color: #F4A261;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.categoriasS li a{
    font-size: 18px;
    color: #537A5A;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* login */

.formularioLogin {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.cajaFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: black;
}

.mailLogin {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A8D77D;
    border-radius: 5px;
    background-color: #F8FFEF;
    font-size: 14px;
    color: black;
}

.contraseñaLogin {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A8D77D;
    border-radius: 5px;
    background-color: #F8FFEF;
    font-size: 14px;
    color:black; 
}

.botonLogin {
    width: 100%;
    padding: 10px;
    background-color: #8CCB5E;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.cajaLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}

.registroLink {
    margin-top: 15px;
    color: #F4A261;
    text-decoration: none;
    background-color: #f8ffef90;
}

/* register */
.elementosRegistro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
}


.cajaRegistro {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.cajaRegistro h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #537A5A;
}

.labelRegistro {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: black;
}

.mailRegistro {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #A8D77D;
    border-radius: 5px;
    background-color: #F8FFEF;
    font-size: 14px;
    color: black;
}

.contraseñaRegistro {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #A8D77D;
    border-radius: 5px;
    background-color: #F8FFEF;
    font-size: 14px;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8CCB5E;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}


.terminos {
    text-align: left;
    margin: 10px 0;
}

.terminos label {
    margin-left: 5px;
    font-size: 14px;
    color: black;
}

.error {
    color: #F64A4A;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
}

.yaTengo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}

.yaTengo a {
    color: #F4A261;
    text-decoration: none;
    justify-self: center;
}

.rojo {
    font-family: 'Montserrat', sans-serif;
    color: red;
}

.red {
    font-family: 'Montserrat', sans-serif;
    color: red;
}

.colorado {
    font-family: 'Montserrat', sans-serif;
    color: red;
}


/* search-results */


.resultados {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.resultadosMensaje {
    font-size: 18px;
    font-weight: bold;
    color: #537A5A;
    text-align: center;
}


.resultadosBusqueda {
    display: flex;
    flex-wrap: wrap;
    margin: 16px; 
    justify-content: space-around; 
    padding: 20px;
}


.resultadosBusqueda article {
    background-color: #eaf9d9a0;
    border: 1px solid #A8D77D;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
}

.resultadosBusqueda article img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

.resultadosBusqueda article h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #537A5A;
}

.resultadosBusqueda article a {
    text-decoration: none;
    color: #F4A261;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}


.noResultados {
    font-size: 16px;
    color: #F64A4A;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

/*Categories*/
.tituloCategories{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #537A5A;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    font-family: 'Playfair Display', serif;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: #eaf9d9a0;
    margin: 20px;
    padding: 20px;
    list-style: none;
    margin: 0;
      
}
.categorias li {
    background-color: #ffffff5e;
    border: 1px solid #A8D77D;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    margin: 10px;
}

.categorias li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #537A5A;
}

/*Category*/
.nombreCategoria{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #537A5A;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    font-family: 'Playfair Display', serif;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.padreDetalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
}

.padreDetalle article {
    background-color: #ffffff85;
    border: 1px solid #A8D77D;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 24%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:black;
}

.padreDetalle article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.padreDetalle article h3 {
    font-size: 18px;
    color: #537A5A;
    margin: 10px 0;
}

.padreDetalle article p {
    font-size: 14px;
    color: #8CCB5E;
    margin: 10px 0;
}

.padreDetalle article a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #F4A261;
    padding: 8px 16px;
    background-color: #FFF5E3;
    border: 1px solid #F4A261;
    border-radius: 5px;
}

@media(max-width: 450px){
   /*index*/
    .cajaPadreRecetas {
        flex-direction: column;
        width: 100%;
    }

    .cajaPadreRecetas article {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }

    .top {
        flex-direction: column;
    }

    .navegador {
        flex-direction: column;
    }

    .elementoNav {
        text-align: center;
    }

    body{
        background-repeat: repeat;
    }

    /*recetas*/
    .padreDetalle article{
        width: 100%;
    }

}
